.weather {
    place-self: center;
    padding: 20px 0px;
    border-radius: 10px;
    background-image: linear-gradient(35deg, #038f98, #1e25a3);
    color: #5e0550;

}



.search-bar {
    display: grid;
    gap: 2px;
    justify-content: space-around;

}


.search-bar .search-pic {
    display: inline;
}

.weather-icon {
    width: 150px;
    margin-left: 13.5vw;
    /* margin-top: 1em; */

}

.temperature {
    color: rgb(255, 255, 255);
    font-size: 5em;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}

.location {
    color: #000000;
    font-size: 60px;
    font-weight: 600;
    position: relative;
    text-align: center;
}


.weather-data {
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* margin-top: 1%; */
}

.weather-data .col {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-inline: 4vw;
    margin-top: 2vw;
}

.weather-data .col img {
    width: 5 .5em;
    margin-top: 0.4em;
}